.dialog__container {
  font-family: $title-font;
}

.dialog__inner-container {
  display: block;
  padding: 10px 20px;
}

.dialog__button {
  margin: 0 5px;
}

.dialog__select {
  width: 0px;
}

.dialog__button-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.bp3-label {
  font-weight: bold;
}
