.content-container {
  width: 80vw;
  background: #fff;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
  @media screen and (max-width: $md-breakpoint) {
    width: 90vw;
  }
  @media screen and (max-width: $s-breakpoint) {
    width: 95vw;
  }
}

html {
  font-size: 0.9em;
}
