.content-container {
  width: 1200px;
  background: #fff;
  margin: 0 auto;
  min-height: calc(100vh - 54px);
  @media screen and (max-width: $l-breakpoint) {
    width: 900px;
  }
  @media screen and (max-width: $md-breakpoint) {
    width: 720px;
  }
  @media screen and (max-width: $s-breakpoint) {
    width: 95vw;
  }
}

body {
  padding: 0 !important;
  margin: 0 !important;
  overflow-y: auto !important;
}

html {
  font-size: 0.9em;
}

.tox {
  border-radius: 5px !important;
}

// overrides
.WAMuiChipInput-outlined-241 input {
    height: 16px !important;
    margin-top: 4px !important;
    padding: 5px 5px 12px 5px !important;
}

span.bp3-popover-target {
  display: flex;
}

.headroom-wrapper {
  height: 54px !important;
}

.navbar-collapse {
  .nav__link {
    margin: 0 auto !important;
  }
}