//Break points
$xl-breakpoint: 1690px;
$l-breakpoint: 1280px;
$md-breakpoint: 960px;
$s-breakpoint: 740px;
$xs-breakpoint: 480px;

//Colors
$light-pink: #efb0c9;
$pink: #ff80f7;
$dark-pink: #fd4ef2;
$purple: #9370f6;
$pale-blue: #b9d6f3;
$sky-blue: #69abec;
$light-gray: #d3d3d3;
$off-white: #ebe9e9;

$header-font: Lobster Two, cursive;
$text-font: Neucha, sans-serif;
$title-font: Roboto, sans-serif;
