.carousel__delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ff0062;
  cursor: pointer;
  font-size: 25px;
  z-index: 10;
  height: 20px;
  width: 20px;
  display: block;
  &:hover {
    font-size: 30px;
    top: 3px;
    right: 6px;
  }
}

%carousel__button {
  background: none;
  border: none;
  position: absolute;
  top: calc(50% - 30px);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__svg {
  font-size: 50px !important;
  color: $pink;
  transition: 5s font-size, color 1s !important;
  -webkit-transition: 5s font-size, color 1s !important;
  -moz-transition: 5s font-size, color 1s !important;
  -ms-transition: 5s font-size, color 1s !important;
  -o-transition: 5s font-size, color 1s !important;
  &:hover {
      font-size: 60px !important;
      color: $dark-pink;
  }
}

.carousel__back {
  @extend %carousel__button;
  left: 0;
}

.carousel__forward {
  @extend %carousel__button;
  right: 0;
}
.carousel__container {
  max-width: 400px;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
  background-color: #000;
}
