.new-product__container {
  margin: 0 auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: $title-font;
  @media screen and (max-width: $md-breakpoint) {
    width: 60vw;
  }
  @media screen and (max-width: $s-breakpoint) {
    width: 100%;
  }
}

.new-product__input {
  width: 100%;
  margin-bottom: 8px;
  @media screen and (max-width: $s-breakpoint) {
    width: 80vw;
  }
}

.new-product__radio {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}

.new-product__title {
  @extend .new-product__input;
}

.new-product__description {
  @extend .new-product__input;
}

.new-product__switch {
  margin: 0 auto !important;
}

.new-product__radio-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.new-product__callout {
  margin: 12px 0;
  width: 100%;
}

.new-product__form {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}

.new-product__form-item {
  display: inline-flex !important;
  width: 100%;
}

.new-product__image-preview {
  width: 100%;
}

.new-product__button-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
