.password__dialog {
  padding: 20px 40px;
}

.password__container {
  font-family: $title-font;
}

.password__dialog-buttons {
  display: inline-flex;
  justify-content: center;
}

.password__error {
  font-size: 12px;
  color: #db3737;
}
