.profile__container {
  margin: 0 auto;
  font-family: $title-font;
  font-weight: bold;
  width: 800px;
  @media screen and (max-width: $l-breakpoint) {
    width: 620px;
  }
  @media screen and (max-width: $md-breakpoint) {
    width: 80%;
  }
  @media screen and (max-width: $s-breakpoint) {
    width: 95%;
  }
}

.profile__row {
  margin-bottom: 8px;
}

.profile__input {
  width: 100%;
  margin-bottom: 6px;
}

.profile__password {
  width: 100%;
  justify-content: center;
}

.profile__inputs-container {
  display: inline-flex;
  margin-bottom: 6px;
  justify-content: space-between;
  width: 100%;
}

.profile__tag {
  float: right;
  margin-left: 5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile__title {
  font-weight: bold;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.profile__input--small {
  width: 33%;
}

.profile__password-button {
  color: rgb(48, 48, 202) !important;
  cursor: pointer;
  font-size: 12px;
  padding: 3px;
  font-style: italic;
}

.profile__button-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.profile__popover {
  text-transform: none;
  position: absolute;
  right: 16px;
  top: -14px;
  margin: 0;
  font-size: 12px;
}

.profile__tooltip {
  font-size: 10px;
  height: 10px;
}

.profile__tooltip-text {
  font-size: 12px;
  padding: 3px 6px;
}

.profile__verified-tag {
  position: absolute;
  right: 14px;
  top: -6px;
}
