.product-list__no-result-container {
  width: 80%;
  height: 100%;
  border: 1px solid $dark-pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list__filter-icon {
  font-size: 36px;
  color: $pink;
  @media screen and (max-width: $s-breakpoint) {
    font-size: 28px;
  }
  @media screen and (max-width: $xs-breakpoint) {
    font-size: 20px;
  }
}

.product-list__filter-container {
  position: fixed;
  left: 0;
  top: calc(50% - 20px);
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
  border: 2px solid #eee;
  padding: 10px;
  margin-left: -2px;
  @media screen and (max-width: $s-breakpoint) {
    margin-left: -1px;
    border: 1px solid #eee;
  }
}

// PRODUCT_TYPE

.product-type__title {
  font-family: $title-font;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}

.product-type__description {
  text-align: center;
  font-family: $title-font;
}

.product-type__filter {
  margin: 8px 20px;
  text-align: center;
  font-style: italic;
  font-family: $title-font;
}
