.update__carousel-container {
  width: 500px;
  margin: 0 auto;
  display: block;
  height: 600px;
}

.update__image-container {
  height: 600px;
  width: 100%;
}

.update__container {
  padding: 12px 24px;
}
