.update__carousel-container {
  width: 500px;
  margin: 0 auto;
  display: block;
  height: 600px;
}

.update__image-container {
  height: 600px;
  width: 100%;
}

.update__container {
  padding: 12px 24px;
}

.update__delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
  font-size: 22px;
  z-index: 10;
  height: 20px;
  width: 20px;
  display: block;
}

.update__alert-container {
  padding: 20px 40px;
}
