.verify__container {
  font-family: $title-font;
}

.verify__dialog {
  padding: 20px 40px 0;
}

.verify__text {
  padding: 4px 0;
}

.verify__button-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin-top: 8px;
}
