.basket__container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  font-family: $title-font;
}

.basket__title {
  padding-top: 10px;
  color: $dark-pink;
  font-size: 24px;
  font-weight: bold;
}

.basket__info {
  margin: 10px 0;
}

.basket-item__delete-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
  color: black;
}

.basket-item__text {
  padding: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.basket-item__title {
  font-size: 17px;
  margin: 0 12px 4px 12px;
  text-align: center;
}

.basket-item__costs {
  font-size: 15px;
  margin-bottom: 0;
}

.basket-item__controls {
  display: inline-flex;
  justify-content: space-between;
  width: 70px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.basket-item__remove {
  margin-top: 14px;
  color: $pink;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
