.account__tabs-container {
  .bp3-tab-list {
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }
}

.bp3-tab[aria-selected="true"] {
  border-radius: 0;
  -webkit-box-shadow: inset 0 -3px 0 $dark-pink !important;
  box-shadow: inset 0 -3px 0 $dark-pink !important;
}

.bp3-tab[aria-selected="true"],
.bp3-tab:not([aria-disabled="true"]):hover {
  color: $dark-pink;
}

.bp3-tab-indicator-wrapper {
  -webkit-box-shadow: inset 0 -3px 0 $dark-pink !important;
  box-shadow: inset 0 -3px 0 $dark-pink !important;
}
